parameters:

  # The level 8 is the highest level @todo wrong .. should set 'max'
  level: 8

  fileExtensions:
    - php

  paths:
    - src

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false

includes:
  - phpstan/extension.neon
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/nunomaduro/larastan/extension.neon
