parameters:

  # The level 8 is the highest level @todo wrong .. should set 'max'
  level: 8

  fileExtensions:
    - php

  paths:
    - src
    - test

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    -
      identifier:  missingType.generics
    -
      path: test/config/database.php
      identifier: larastan.noEnvCallsOutsideOfConfig

  #reportUnmatchedIgnoredErrors: false
includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/larastan/larastan/extension.neon
