parameters:

  # The level 8 is the highest level @todo wrong .. should set 'max'
  level: 8

  fileExtensions:
    - php

  paths:
    - src

  stubFiles:
    - .phpstan/stubs/Jenssegers/Mongodb/Eloquent/Builder.php
    - .phpstan/stubs/Jenssegers/Mongodb/Relations/BelongsTo.php
    - .phpstan/stubs/Jenssegers/Mongodb/Relations/BelongsToMany.php
    - .phpstan/stubs/Jenssegers/Mongodb/Relations/EmbedsMany.php
    - .phpstan/stubs/Jenssegers/Mongodb/Relations/EmbedsOne.php
    - .phpstan/stubs/Jenssegers/Mongodb/Relations/EmbedsOneOrMany.php
    - .phpstan/stubs/Jenssegers/Mongodb/Relations/HasMany.php
    - .phpstan/stubs/Jenssegers/Mongodb/Relations/HasOne.php

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false

includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/nunomaduro/larastan/extension.neon
