parameters:
  typeAliases:
    FilterItem: "array{property: string, operator?: string, value: string|int|float|bool|null}"
    SortItem: "array{property: string, direction?: 'asc'|'desc'|1|-1}"

  stubFiles:
    - stubs/Jenssegers/Mongodb/Eloquent/Builder.php
    - stubs/Jenssegers/Mongodb/Relations/BelongsTo.php
    - stubs/Jenssegers/Mongodb/Relations/BelongsToMany.php
    - stubs/Jenssegers/Mongodb/Relations/EmbedsMany.php
    - stubs/Jenssegers/Mongodb/Relations/EmbedsOne.php
    - stubs/Jenssegers/Mongodb/Relations/EmbedsOneOrMany.php
    - stubs/Jenssegers/Mongodb/Relations/HasMany.php
    - stubs/Jenssegers/Mongodb/Relations/HasOne.php
