parameters:
  stubFiles:
    - stubs/Mongodb/Laravel/Eloquent/Builder.php
    - stubs/Mongodb/Laravel/Relations/BelongsTo.php
    - stubs/Mongodb/Laravel/Relations/BelongsToMany.php
    - stubs/Mongodb/Laravel/Relations/EmbedsMany.php
    - stubs/Mongodb/Laravel/Relations/EmbedsOne.php
    - stubs/Mongodb/Laravel/Relations/EmbedsOneOrMany.php
    - stubs/Mongodb/Laravel/Relations/HasMany.php
    - stubs/Mongodb/Laravel/Relations/HasOne.php
